<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Hello</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewpoint" content="width=device-width,initial-scale=1.0">
    <!-- 引入bootstrap样式 -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet" media="screen">
    <!--<link href="WEB-INF/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" media="screen">-->

    <!-- 引入bootstrap-table样式 -->
    <link href="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.css" rel="stylesheet">
</head>
<body>

<h1>Hello World!</h1>
<br>
welcome ---->  key:<span th:each=" map : ${simap}" th:text="${map.key}">value:</span><span th:each=" map : ${simap}" th:text="${map.value}"></span>
<br>
customer.address :  <span th:text="${customer.address}"></span>&nbsp;
<br>
<table class="table">
    <thead>
        <tr>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr th:each="customer : ${iterable}">
            <th th:text="${customer.customerId}"></th>
            <th th:text="${customer.address}"></th>
            <th th:text="${customer.city}"></th>
            <th th:text="${customer.contactName}"></th>
            <th th:text="${customer.createDate}"></th>
            <th th:text="${customer.creditLimit}"></th>
            <th th:text="${customer.customerName}"></th>
            <th th:text="${customer.phone}"></th>
            <th th:text="${customer.province}"></th>
            <th th:text="${customer.saleEmployeeId}"></th>
        </tr>
    </tbody>
</table>
<br>
<table class="table">
    <thead>
    <th th:each="userhead : ${userhead}" th:text="${userhead.key}"></th>
    <th th:each="userhead : ${userhead}" th:text="${userhead.value}"></th>
    </thead>
    <tbody >
    <td th:each="userinfo:${userinfo}" th:text="${userinfo}"></td>
    </tbody>
</table>
<br>
<ul th:each="lm : ${listmap}">
    <li th:each="entry : ${lm}" th:text="${entry.key}" ></li>
    <li th:each="entry : ${lm}" th:text="${entry.value}"></li>
</ul>
<!-- jquery -->
<!--<script src="WEB-INF/bootstrap-3.3.7-dist/js/jquery-3.3.1.js"></script>-->
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<!--<script src="WEB-INF/bootstrap-3.3.7-dist/js/bootstrap.js"></script>-->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.js"></script>
<!-- bootstrap-table.min.js -->
<script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
<!-- 引入中文语言包 -->
<script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.min.js"></script>
</body>
</html>